spring:
  datasource:
    url: jdbc:sqlserver://davacom.database.windows.net:1433;database=store-app;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
    username: david
    password: Password1
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  web:
    resources:
      static-locations: file:uploads/

file:
  product-images-path: uploads/images
  preview-images-path: uploads/previewImages

logging:
  level:
    org:
      thymeleaf: DEBUG

server:
  port: 5000
